{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false
      }
    ],
    "minify"
  ],
  "env": {
    "test": {
      "plugins": [
        "@babel/plugin-transform-modules-commonjs"
      ]
    }
  }
}
